# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#Folder main
Teorija/
Kurs-Poceci/

#Folder HTML/CSS
/HTML-CSS/Casovi/
/HTML-CSS/Domaci/
/HTML-CSS/Test-Tarik Curic/
/JS/Domaci/

#Extra
/.vscode