*{
  margin:0;
  padding: 0;
  overflow-x: hidden;
}
.app{
  margin-top: 2%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  font-size: 30px;
  overflow-y: hidden;
}
.button2{
    width: 15vw;
    height: 10%;
    border-radius: 5px;
    background-color: silver;
    color: black;
    text-align: center;
    font-size: x-large;
    font-size: 40px;
    transition: 0.3s;
    margin-bottom: 100%;
    margin-left: 40%;
}