.button{
    width: 7vw;
    height: 50%;
    border-radius: 5px;
    background-color: silver;
    color: black;
    text-align: center;
    font-size: x-large;
    margin-top: 60%;
    font-size: 40px;
}