.card{
    width: 18%;
    height: 70%;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: space-evenly;
  }
 /* .img1{
  width: 100%;
  height: 50%;
  margin-bottom: 50px;
 } */